{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}

    <div class="row w-100 my-3 ml-0">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4 text-center">
            <h1 class="text-light">Administration</h1>
        </div>
    </div>

    <!-- NOUVEAUX INSCRITS -->
    <div class="row w-100 ml-0">
        <div class="col-8 offset-2 text-center">
            <h3 class="text-light">Nouveaux inscrits</h3>
        </div>
    </div>

    <div class="row w-100 ml-0">
        <div class="col-10 offset-1 col-md-8 offset-md-2">
            {% for user in newUsers %}
                <div class="row w-100 my-2 ml-0">
                    <div class="card my-2 p-0 w-100 rounded">
                        <div class="col-12 d-md-flex justify-content-between align-items-center bg-light px-0">
                            <p class="my-2 ml-2">{{ user.firstname }} <strong>{{ user.name }}</strong></p>
                            <p class="my-2 ml-2 ml-md-0">Inscrit le <strong>{{ user.registrationDate|format_datetime('short', 'none', locale='fr') }}</strong> à <strong>{{ user.registrationDate|format_datetime('none', 'short', locale='fr') }}</strong></p>
                            <p class="motivation text-primary my-2 ml-2 ml-md-0 mr-2">Lire la motivation</p>
                        </div>
                        <div class="motivcontent d-flex-column col-12 p-2 bg-light px-0 d-none">
                            {{ user.motivation|purify }}
                            <div class="d-flex ">
                                <button type="button" class="btn btn-success m-2" onclick="return confirm('Confirmez-vous ce choix ? {{ user.firstname }} {{ user.name }} sera inscrit sur le liste dans la liste des bénévoles.')">Approuver l'inscription</button>
                                <button type="button" class="btn btn-danger m-2" onclick="return confirm('Êtes-vous sûr(e) de vouloir supprimer cette personne de la liste des bénévoles ?')">Refuser l'inscription</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/adminscript.js') }}"></script>
{% endblock  %}