{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="row w-100 my-3 ml-0 bg-h1">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4 text-center">
            <h1 class="text-body my-2" style="font-size: 1.8rem;">CONTACTEZ-NOUS</h1>
        </div>
    </div>

    <div class="row w-100 mt-3 mb-5 ml-0">
        <div class="col-12 col-lg-6 offset-lg-3 text-body mb-5">
            <div class="d-block mx-4">
                {{ form_start(form) }}
                {{ form_row(form.objet) }}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.content) }}
                <div class="form-group g-recaptcha-parent">
                    <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>



{% endblock %}

{% block stylesheets %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}