{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .donation img{
            display: none;
        }
    </style>
{% endblock %}

{% block title %}Nouvel article{% endblock %}

{% block body %}

    <h1 class="text-light text-center mt-4">Ajout d'évènement</h1>

    <div class="row w-100 mb-5">
        <div class="col-10 offset-1 text-light mb-5 text-center">
            {{ form_start(form) }}
                {{form_row(form.title)}}
                {{form_row(form.description)}}
                {{form_row(form.mainPhoto)}}
                {{form_row(form.gallery)}}
                <div class="row mx-1 d-flex justify-content-around">
                    {{form_row(form.dateBeginning)}}
                    {{form_row(form.dateEnd)}}
                </div>
                {{form_row(form.details)}}
                {{form_row(form.missions)}}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}