{% extends "base.html.twig" %}

{% block title %}Documentation{% endblock %}

{% block body %}

    {# Affichage des messages flashs de type "success" si il y en a #}
    {% include 'partials/flashes/success.html.twig' %}

    {# Affichage des messages flashs de type "error" si il y en a #}
    {% include 'partials/flashes/error.html.twig' %}

    <div class="row w-100 my-3 mx-0 bg-h1">
        <div class="col-10 offset-1 col-lg-4 offset-lg-4 text-center">
            <h1 class="text-body text-center my-2">DOCUMENTATION</h1>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="row w-100 mx-0">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4 text-center">
            <h2 class="text-body">Ajouter un nouveau document</h2>
        </div>
    </div>

    <div class="row w-100 mx-0">
        <div class="col-10 offset-1 col-lg-4 offset-lg-4 text-body my-4">
            {{ form_start(form) }}
                {{ form_row(form.file) }}
                {{ form_row(form.name) }}
            {{ form_end(form) }}
        </div>
    </div>

    {% endif %}

    <div class="row w-100 mb-5 mx-0">
        <div class="col-12 col-lg-4 offset-lg-4 text-center">
            <h2 class="text-body">Liste des documents disponibles</h2>
        </div>
    </div>

    {# Affichage des documents #}
    {% for document in documents %}
        <div class="row w-100 my-2 mx-0">
            <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 d-flex justify-content-between">
                <a href="{{ asset('files/' ~ document.slug ~ '.' ~ document.extension ) }}" download><i class="far fa-file-alt"></i> {{ document.name }}</a>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('delete_doc', {'id': document.id}) }}" data-delete data-token="{{ csrf_token('delete'~ document.id) }}" class="text-danger">Supprimer</a>
                {% endif %}
            </div>
            <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                <p class="font-italic text-body small my-auto">(format : {{document.extension}}, taille : {{document.size}})</p>
            </div>
        </div>
    {% endfor %}

    {# Si aucun document à afficher #}
    {% if documents|length < 1 %}
        <div class="row w-100 mb-5 mx-0">
            <div class="col-12 col-lg-4 offset-lg-4 text-center">
                <p class="text-body">Aucun document pour le moment.</p>
            </div>
        </div>
    {% endif %}

    <div class="my-3 text-center">
        <div class="d-inline-block mb-5">
            {# Affichage du menu permettant de naviguer entre les différentes pages #}
            {{ knp_pagination_render(documents) }}
        </div>
    </div>

    <div class="row w-100 my-5 mx-0">
        <div class="col-10 offset-1 col-lg-4 offset-lg-4 text-center mb-5">
            <p class="text-body text-center">Vous avez besoin d'un document qui ne se trouve pas dans cette liste ? Merci de nous <a href="{{ path('contact') }}">contacter</a>.</p>
        </div>
    </div>

{% endblock %}