{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .donation img{
            display: none;
        }
    </style>
{% endblock %}

{% block title %}Modifier un article{% endblock %}

{% block body %}

    <div class="row w-100 ml-0">
        <h1 class="col-12 text-center text-light my-4">Modifier un article</h1>
    </div>

    <div class="row w-100 mb-5 ml-0">
        <div class="col-12 col-md-8 offset-md-2 text-light mb-5">
            {# Affichage du form de création d'un new article #}
            {{ form_start(form) }}
                {{form_row(form.title)}}
                {{form_row(form.description)}}
                <div class="row mx-1 d-flex justify-content-around">
                    {{form_row(form.dateBeginning)}}
                    {{form_row(form.dateEnd)}}
                </div>
                {{form_row(form.details)}}
                {{form_row(form.missions)}}

                {# Si la route est "edit", on affiche les images #}
                {% if app.request.attributes.get('_route') == "edit" %}
                    <h2>Galerie d'images</h2>

                    <div class="col-12 d-flex flex-wrap p-0">
                        {% if article.galleries|length < 1 %}
                        <p class="text-danger">Aucune image dans la galerie pour le moment.</p>
                        {% endif %}
                        {% for galleryImage in article.galleries %}
                            <div>
                                <img src="{{ asset('images/articles/' ~ galleryImage.name ) }}" alt="Image" width="150px" class="position relative m-1">
                                <div class="position-absolute bg-white rounded-circle px-1 delete-cross">
                                    <a href="{{ path('delete_gallery_image', {'id': galleryImage.id}) }}" data-delete data-token="{{ csrf_token('delete'~ galleryImage.id) }}" class="text-danger">X</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
