{% extends 'base.html.twig' %}

{% block title %}Les Bulles de Liberté - Bienvenue !{% endblock %}

{% block body %}

    {# Affichage des messages flashs de type "success" si il y en a #}
    {% include 'partials/flashes/success.html.twig' %}

    {# Affichage des messages flashs de type "error" si il y en a #}
    {% include 'partials/flashes/error.html.twig' %}


    <!-- Bienvenue et Bénévoles -->
    <div class="row welcome-benevole w-100 ml-0">
        <div class="col-12 col-md-6 col-xl-6 welcome p-3 position-relative w-100">
            <h2>BIENVENUE</h2>
            <p class="mb-4">Nous avons décidé de créer l'association les Bulles de Liberté (loi 1901) afin de créer des événements, sorties, loisirs, pour des personnes en situation de handicap...</p>
            <a href="{{ path('presentation') }}" class="block position-absolute mx-4 my-2 mb-xl-4 px-2 rounded">EN SAVOIR PLUS</a>
        </div>
        <div class="col-12 col-md-5 benevole text-center py-4 py-md-0 ml-md-3 d-md-flex flex-column justify-content-center">
            <a class="d-block d-flex justify-content-center mx-3 mx-xl-5" href={% if app.user %}"#"{% else %}"{{ path('app_register') }}"{% endif %}><h3 class="rounded m-0 col-9 col-md-11 col-xl-8 py-1 py-md-2 px-2">DEVENIR BENEVOLE</h3></a>
        </div>
    </div>

    <!-- Cards -->
    <div class="row w-100 ml-0 position-relative mb-xl-4">
        <div class="w-100 h-100 p-0">
            <div class="card-group col-xl-12 p-0">
                {# Pour chaque article envoyé par le Repo, on crée une card #}
                {% for article in index_articles %}
                    <div class="col-12 col-sm-6 col-xl-3 p-0">
                        <a href="{{ path('event', {slug: article.slug}) }}">
                            <div class="card p-0 position-relative h-100">
                                <div class="zoom">
                                    <img src="{{ asset('images/articles/' ~ article.mainPhoto ) }}" class="card-img-top h-100" alt="...">
                                </div>
                                <div class="card-body position-absolute w-100 d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ article.title }}</h5>
                                    <p class="card-text text-center"><small class="text-muted text-light">Le {{ article.dateBeginning|format_datetime('medium', 'short', locale='fr') }}</small></p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {# s'il n'y a pas 4 articles... #}
                {% if index_articles|length < 4 %}
                {# on en crée des faux jusqu'à en avoir 4 #}
                    {% for i in 1..(4 - index_articles|length) %}
                        <div class="col-12 col-sm-6 col-xl-3 p-0 px-xl-4">
                            <div class="card p-0 position-relative h-100">
                                <div class="zoom">
                                    <img src="{{ asset('images/main/fakeArticles/eventToCome' ~ loop.index ~ '.jpg' ) }}" class="card-img-top h-100" alt="...">
                                </div>
                                <div class="card-body position-absolute w-100 d-flex flex-column justify-content-between">
                                    <h5 class="card-title">Événement à venir</h5>
                                    <p class="card-text d-none d-xl-block">Un nouvel événement arrivera prochainement...</p>
                                    <p class="card-text text-center"></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
