{% extends "base.html.twig" %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}

    {# Affichage des messages flashs de type "success" si il y en a #}
    {% include 'partials/flashes/success.html.twig' %}

    {# Affichage des messages flashs de type "error" si il y en a #}
    {% include 'partials/flashes/error.html.twig' %}

    <div class="row w-100 d-flex justify-content-center ml-0">
        <div class="col-10 offset-1 col-md-3 col-xl-2 ml-0 ml-md-2 text-center alert alert-success mt-3">
            {% if event.dateEnd > date() %}
                <a class="text-decoration-none text-dark font-weight-bold" href="{{path('future_list')}}">Retour à la liste des événements à venir</a>
            {% else %}
                <a class="text-decoration-none text-dark font-weight-bold" href="{{path('past_list')}}">Retour à la liste des événements passés</a>
            {% endif %}
            <!--Bouton pour modif ou supprimer l'article-->
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-10 offset-1 col-md-3 col-xl-2 ml-0 ml-md-2 alert alert-primary mt-md-3 d-flex align-items-center justify-content-center">
                <a href="{{path('edit', {slug: event.slug, csrf_token: csrf_token('edit' ~ event.slug) }) }}" class="text-decoration-none text-dark font-weight-bold">Modifier l'article</a>
            </div>
            <div class="col-10 offset-1 col-md-3 col-xl-2 ml-0 ml-md-2 alert alert-danger mt-md-3 d-flex align-items-center justify-content-center">
                <a href="{{path('delete', {id: event.id, csrf_token: csrf_token('delete_' ~ event.id )}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?')" class="text-decoration-none text-dark font-weight-bold">Supprimer l'article</a>
            </div>
        {% endif %}
    </div>

    {# Titre #}
    <div class="row w-100 my-3 ml-0">
        <div class="col-10 offset-1 col-lg-4 offset-lg-4 text-center">
            <h1 class="text-body">{{ event.title }}</h1>
        </div>
    </div>

    {# Dates #}
    <div class="row w-100 my-3 ml-0">
        <div class="col-10 offset-1 col-lg-4 offset-lg-4 text-center">
            <h4 class="text-body">Du {{ event.dateBeginning|format_datetime('short', 'short', locale='fr') }}<br>au {{ event.dateEnd|format_datetime('short', 'short', locale='fr') }}</h4>
        </div>
    </div>

    {# Photo principale #}
    <div class="row w-100 ml-0">
        <div class="col-12 col-md-8 offset-md-2 d-flex justify-content-center">
            <img src="{{ asset('images/articles/' ~ event.mainPhoto) }}" alt="event-img" class="w-auto event-img">
        </div>
    </div>

    <div class="row w-100 ml-0 my-4">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4 d-flex flex-column flex-md-row mb-4">
            <div class="description">{{ event.description|purify }}</div>
        </div>
    </div>


    {% if event.details is not null %}
        <hr class="bg-light col-lg-4 offset-lg-4 ml-auto">

        {# Détails #}
        <div class="row w-100 ml-0">
            <div class="col-10 offset-1 col-lg-4 offset-lg-4 text-center">
                <h4 class="text-body">Détails</h4>
            </div>
        </div>

        <div class="row w-100 ml-0">
            <div class="col-8 offset-2 col-lg-4 offset-lg-4
            d-flex flex-column flex-md-row">
                <div class="description">{{ event.details|purify }}</div>
            </div>
        </div>
    {% endif %}

    {# Galerie photos #}
    {% if event.galleries|length > 0 %}
        <div class="row w-100 ml-0 mt-4">
            <div class="col-10 offset-1 col-lg-4 offset-lg-4 text-center">
                <h4 class="text-body">Galerie photos</h4>
            </div>
        </div>
        <div class="row w-100 ml-0 mb-5">
            <div class="col-12 col-md-8 offset-md-2 mb-2 d-flex flex-wrap img-parent mb-5 justify-content-center">
                {% for galleryImage in event.galleries %}
                    <img src="{{ asset('images/articles/' ~ galleryImage.name ) }}" alt="image-{{ event.slug }}-{{ galleryImage.id }}" class="gallery-img" data-image="{{ galleryImage.name }}" data-number="{{ loop.index }}" data-artnumber="{{ event.id }}" id="art-{{ event.id }}-img-{{ loop.index }}">
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/axios.min.js') }}"></script>
{% endblock %}