{% extends "base.html.twig" %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}

    <div class="row w-100 d-flex justify-content-center">
        <div class="col-10 offset-1 col-md-3 col-xl-2 ml-0 ml-md-2 text-center alert alert-success mt-3">
            {% if event.dateEnd > date() %}
                <a href="{{path('future_list')}}">Retour à la liste des événements à venir</a>
            {% else %}
                <a href="{{path('past_list')}}">Retour à la liste des événements passés</a>
            {% endif %}
            <!--Bouton pour modif ou supprimer l'article-->
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-10 offset-1 col-md-3 col-xl-2 ml-0 ml-md-2 alert alert-primary mt-md-3 d-flex align-items-center justify-content-center">
                <a href="{{path('edit', {slug: event.slug, csrf_token: csrf_token('edit' ~ event.slug) }) }}">Modifier l'article</a>
            </div>
            <div class="col-10 offset-1 col-md-3 col-xl-2 ml-0 ml-md-2 alert alert-danger mt-md-3 d-flex align-items-center justify-content-center">
                <a href="{{path('delete', {id: event.id, csrf_token: csrf_token('delete_' ~ event.id )}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?')">Supprimer l'article</a>
            </div>
        {% endif %}
    </div>

    <div class="row w-100 my-3">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4 text-center">
            <h1 class="text-light fun-title">{{ event.title }}</h1>
        </div>
    </div>

    <div class="row w-100">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4">
            <p class="description">{{ event.description|purify }}</p>
        </div>
    </div>

{% endblock %}