{% extends "base.html.twig" %}

{% block title %}Liste des événements passés{% endblock %}

{% block body %}

    <div class="row w-100 my-3 ml-0">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4 text-center">
            <h1 class="text-body event-title">Liste des événements passés</h1>
        </div>
    </div>

    <div class="row w-100 ml-0">
        <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <div class="list-group">
                {# Affichage des articles #}
                {% for article in articles %}
                <div class="row w-100 my-2 ml-0">
                    <div class="card my-2 p-0 w-100 rounded">
                        <a href="{{ path('event', {slug: article.slug}) }}" class=" d-flex position-relative w-100">
                            <div class="col-12 col-md-4 d-md-block px-0 zoom">
                                <img src="{{ asset('images/articles/' ~ article.mainPhoto) }}" alt="..." class="card-img">
                            </div>
                            <div class="col-12 col-md-8 d-md-block list-body p-0 position-absolute">
                                <div class="card-body card-list p-3 h-100 d-flex flex-column justify-content-around text-dark">
                                    <h2 class="card-title list-title">{{ article.title }}</h2>
                                    <p class="card-text text-center card-date">Du {{ article.dateBeginning|format_datetime('short', 'short', locale='fr') }}<br>au {{ article.dateEnd|format_datetime('short', 'short', locale='fr') }}</p>
                                    <p class="card-text d-none d-md-block">{{ article.description|striptags|slice(0,200) ~ '...' }}</p>
                                    <p class="text-right d-none d-md-block">LIRE PLUS ></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="my-3 text-center">
                <div class="d-inline-block">
                    {# Affichage du menu permettant de naviguer entre les différentes pages #}
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}