{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .donation img{
            display: none;
        }
    </style>
{% endblock %}

{# Titre de la page #}
{% block title %}Votre profil{% endblock %}

{# Contenu de la page #}
{% block body %}

    {# Affichage des messages flashs de type "success" si il y en a #}
    {% include 'partials/flashes/success.html.twig' %}

    {# H1 #}
    <div class="row">
        <h1 class="text-center text-light col-12 col-md-6 offset-md-3 my-4">Gestion du profil</h1>
        <h2 class="text-center text-light col-12 col-md-6 offset-md-3 my-4">{{ app.user.firstname }} {{ app.user.name }}</h2>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 d-flex justify-content-center align-items-center mb-4">
            {# Infos du compte #}
            <ul class="list-group col-12 col-md-8 p-0 btn-lg">
                <li class="list-group-item">Adresse Email : <span class="font-weight-bold">{{ app.user.email }}</span></li>
                <li class="list-group-item">Date d'inscription : <span class="font-weight-bold">{{ app.user.registrationDate|date('d/m/Y') }}</span></li>
                <li class="list-group-item">Numéro de téléphone : <span class="font-weight-bold"></span></li>
                <li class="list-group-item">Date de naissance : <span class="font-weight-bold">{{ app.user.birthdate }}</span></li>
                <li class="list-group-item">Compte : <span class="font-weight-bold">{{ is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Membre' }}</span></li>
            </ul>
        </div>
    </div>

{% endblock %}