{% extends "base.html.twig" %}

{% block title %}Réunions{% endblock %}

{% block stylesheets %}
    <style>
        .autocomplete>.form-group{
            position: relative;
            margin-bottom: 0;
        }
        .card-title, .card-text{
            font-family:inherit !important;
        }
        .card-title{
            font-size:1.2rem;
            color: black;
        }
        .card-body{
            z-index: 12;
            background-color: white;
            color: black;
            cursor: pointer;
        }
        .card-body:hover{
            background-color: wheat;
        }
        .reunion{
            margin: 15px 0 !important;
        }
        .new-reunion:hover, .edit:hover, .delete:hover{
            cursor: pointer;
            text-decoration: underline;
        }

    </style>
{% endblock %}

{% block body %}

    {# Affichage des messages flashs de type "success" si il y en a #}
    {% include 'partials/flashes/success.html.twig' %}

    {# Affichage des messages flashs de type "error" si il y en a #}
    {% include 'partials/flashes/error.html.twig' %}

    <div class="row w-100 my-3 ml-0">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4 text-center">
            <h1 class="text-light">Réunions</h1>
        </div>
    </div>

    <div class="row w-100 ml-0">
        <div class="col-12 col-lg-4 offset-lg-4 text-center">
            {# Affichage des réunions futures #}
            <h2 class="text-light">Prochaine{% if reunions|length > 1 %}s{% endif %} réunion{% if reunions|length > 1 %}s{% endif %}</h2>

            {% if app.user.isVerified == false %}
                <div class="row w-100 mb-5 mx-0">
                    <div class="col-12 col-lg-6 offset-lg-3 text-center">
                        <p class="text-danger">Vous devez être admis en tant que bénévole par un modérateur du site pour accéder à ces informations.</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    {% for reunion in reunions %}
                        <div class="card col-12 py-2 bg-light reunion p-2 my-2">
                            {% if reunion.title is not null %}
                                <h3 class="text-danger text-center pt-2">{{ reunion.title }}</h3>
                            {% else %}
                                <h3 class="text-danger text-center">Réunion prévue</h3>
                            {% endif %}
                            <p>Rendez-vous le <strong><u>{{ reunion.datetime|format_datetime('full', 'none', locale='fr') }}</u></strong> à <strong><u>{{ reunion.datetime|format_datetime('none', 'short', locale='fr') }}</u></strong></p>
                            <p>à l'adresse : <strong>{{ reunion.place }}</strong></p>
                            {% if reunion.content is not null %}
                            {{ reunion.content|purify }}
                            {% endif %}

                            {# Modération admin #}
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="col-12 text-light mt-2">
                                    <a class="edit-link" href="{{ path('edit_reunion',  {id: reunion.id, csrf_token: csrf_token('edit_reunion' ~ reunion.id)}) }}"><p class="edit m-0"><i class="fas fa-edit"></i> Éditer</p></a>
                                </div>
                                <div class="col-12 text-danger">
                                    <a href="{{path('delete_reunion', {id: reunion.id, csrf_token: csrf_token('delete_reunion_' ~ reunion.id )}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réunion ?')" class="text-decoration-none"><p class="delete text-danger m-0"><i class="fas fa-trash-alt"></i> Supprimer</p></a>
                                </div>
                            {% endif %}
                        </div>

                    {% endfor %}
                </div>

                {# Si aucune réunion à afficher #}
                {% if reunions|length < 1 %}
                    <div class="row w-100 mb-5 mx-0">
                        <div class="col-12 col-lg-6 offset-lg-3 text-center">
                            <p class="text-light">Aucune réunion prévue pour le moment.</p>
                        </div>
                    </div>
                {% endif %}

            {% endif %}
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="row w-100 mx-0">
        <div class="col-10 offset-1 col-lg-4 offset-lg-4 text-center">
            <h2 class="text-light new-reunion">Ajouter une nouvelle réunion</h2>
        </div>
    </div>

    <div class="row w-100 mx-0 form-div d-none">
        <div class="col-10 offset-1 col-lg-4 offset-lg-4 text-light my-4">
            {{ form_start(form) }}
                {{ form_row(form.datetime) }}
                <div class="autocomplete mb-3">
                    {{ form_row(form.place) }}
                    <div class="card position-absolute d-none p-0 w-100 col-11" id="match-list"></div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/reunionscript.js') }}"></script>
{% endblock %}