<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Les Bulles de Liberté{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/main/logobullessite.ico') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="d-flex flex-column h-100 bg-grade">

        {% if is_granted('ROLE_ADMIN') %}
            <div class="w-100 bg-danger">
                <p class="text-body text-center mt-2" style="font-size: large;">Vous êtes actuellement connecté en tant qu'administrateur ( {{ app.user.email }} ). <a href="{{ path('app_logout') }}" class="text-body">Se déconnecter</a></p>
            </div>
        {% endif %}

        <!-- Navbar -->
        <nav class="navbar navbar-expand-xl navbar-light px-2 py-0 sticky-top">
            <a class="navbar-brand navbar-title my-xl-2 d-flex" href="{{ path('main') }}">
                <img src="{{asset('images/main/logobullessite.png')}}" alt="bulles">
                <div class="d-flex flex-column mt-2 mb-3">
                    <p class="m-0 bulles">LES BULLES DE LIBERTÉ</p>
                    <p class="undertitle text-right pr-2 association-loisir">Association Loisir pour Tous</p>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mr-xl-auto mt-2 mb-xl-0">
                    <li class="nav-item active">
                        <a class="nav-link text-body" href="{{ path('main') }}">ACCUEIL<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item d-xl-none">
                        <a class="nav-link text-body" href="{{ path('contact') }}">CONTACT</a>
                    </li>

                    <div class="corner">
                        <li class="nav-item dropdown benevole-button">
                            <div class="navbar-networks">
                                <a href="https://www.facebook.com/lesbullesdeliberte/" title="Lien vers notre page Facebook"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" title="Lien vers notre compte Instagram"><i class="fab fa-instagram"></i></a>
                            </div>
                            <a class="nav-link text-body benevole-link" href="{{ path('donation') }}">FAIRE UN DON</a>
                        </li>
                    </div>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-body" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ÉVÉNEMENTS</a>
                        <div class="dropdown-menu my-0" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item text-body" href="{{ path('future_list') }}">À VENIR</a>
                            <a class="dropdown-item text-body" href="{{ path('past_list') }}">PASSÉS</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item text-danger" href="{{ path('new_article') }}">AJOUTER</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="{{ path('galerie')}}">GALERIE</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-body" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">L'ASSOCIATION</a>
                        <div class="dropdown-menu my-0" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item text-body" href="{{ path('presentation')}}">PRÉSENTATION</a>
                            <a class="dropdown-item text-body" href="{{ path('qui-sommes-nous')}}">QUI SOMMES-NOUS</a>
                            <a class="dropdown-item text-body" href="{{ path('coin-presse')}}">COIN PRESSE</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="{{path('documentation')}}">DOCUMENTATION</a>
                    </li>
                    <li class="nav-item d-none d-xl-block">
                        <a class="nav-link text-body" href="{{ path('contact') }}">CONTACT</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid px-0 pb-xl-5 mb-xl-5">

            {% block body %}{% endblock %}

        </div>

        <!-- Footer -->
        <footer class="w-100 position-absolute">
            <div class="d-flex align-items-center p-2">
                <img src="{{asset('images/main/logobullessite.png')}}" alt="les-bulles-logo" class="logo-nb">
                <div class="footer-infos ">
                    <p class="footer-title pr-5 mb-0">LES BULLES DE LIBERTÉ</p>
                    <p class="address pr-5 mb-0">10 Cité Fieux, 71100 SAINT-RÉMY</p>
                </div>
                <div class="sitemap d-none d-xl-block">
                    <ul class="d-flex align-items-baseline m-0">
                        <li><a href="{{ path('main') }}" class="py-1">ACCUEIL</a></li>
                        <li>
                            <div class="d-flex flex-column text-center link-list">
                                <a href="{{ path('future_list') }}" class="py-1">ÉVÉNEMENTS</a>
                                <a href="{{ path('future_list') }}" class="py-0">à venir</a>
                                <a href="{{ path('past_list') }}" class="py-0">passés</a>
                            </div>
                        </li>
                        <li><a href="{{ path('galerie')}}" class="py-1">GALERIE</a></li>
                        <li>
                            <div class="d-flex flex-column text-center link-list">
                                <a href="{{ path('presentation')}}" class="py-1">L'ASSOCIATION</a>
                                <a href="{{ path('presentation')}}" class="py-0">Présentation</a>
                                <a href="{{ path('qui-sommes-nous')}}" class="py-0">Qui sommes-nous</a>
                                <a href="{{ path('coin-presse')}}" class="py-0">Coin Presse</a>
                            </div>
                        </li>
                        <li><a href="{{path('documentation')}}" class="py-1">DOCUMENTATION</a></li>
                        <li><a href="{{ path('contact') }}" class="py-1">CONTACT</a></li>
                        <li><a href="{{ path('mentions') }}" class="py-1">MENTIONS LÉGALES</a></li>
                    </ul>
                </div>
                <div class="social-networks d-flex ml-auto">
                    <a href="https://www.facebook.com/lesbullesdeliberte/"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </footer>

        {# Inclusion des fichiers JS généraux du site #}
        <script src="{{ asset('js/jquery-3.5.1.slim.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
