<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Les Bulles de Liberté{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="d-flex flex-column h-100 bg-grade">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-xl navbar-dark px-2 py-0 sticky-top">
            <a class="navbar-brand text-light navbar-title" href="{{ path('main') }}"><img src="{{asset('images/main/logobullessite.png')}}" alt="bulles">Les Bulles de Liberté</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mr-xl-auto mt-2 mb-xl-0">
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="{{ path('main') }}">ACCUEIL<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown benevole-button">
                        <div class="navbar-networks">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <a class="nav-link dropdown-toggle text-light w-100" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if app.user %}{{ app.user.firstname }} {{ app.user.name }}{% else %}ESPACE BÉNÉVOLE{% endif %}</a>
                        <div class="dropdown-menu my-0 dropdown-benevole" aria-labelledby="navbarDropdown">
                            {% if app.user %}
                                <a class="dropdown-item" href="{{ path('profil') }}">PROFIL</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">SE DÉCONNECTER</a>
                            {% else %}
                                <a class="dropdown-item" href="{{ path('app_register') }}">S'INSCRIRE</a>
                                <a class="dropdown-item" href="{{ path('app_login') }}">SE CONNECTER</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ÉVÉNEMENTS</a>
                        <div class="dropdown-menu my-0" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('future_list') }}">À VENIR</a>
                            <a class="dropdown-item" href="{{ path('past_list') }}">PASSÉS</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('new_article') }}">AJOUTER</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('galerie')}}">GALERIE</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">L'ASSOCIATION</a>
                        <div class="dropdown-menu my-0" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('presentation')}}">PRÉSENTATION</a>
                            <a class="dropdown-item" href="{{ path('qui-sommes-nous')}}">QUI SOMMES-NOUS</a>
                            <a class="dropdown-item" href="{{ path('coin-presse')}}">COIN PRESSE</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{path('documentation')}}">DOCUMENTATION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('contact') }}">CONTACT</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid px-0 mb-5 pb-5">
            <!-- Bannière -->
            <div class="row mx-0">
                <div class="col-12 banner px-0">
                    <div class="banner-img w-100 h-100 d-flex justify-content-center align-items-center">
                    {% block indexh1 %}{% endblock %}
                    <a href="{{ path('donation') }}" class="position-absolute mx-1 mr-xl-5">
                            <!-- Bouton de don -->
                            <div class="d-block bg-white donation d-flex justify-content-center align-items-center m-0">
                                <img src="{{asset('images/main//faireundon.png')}}" alt="Faire un Don">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            {% block body %}{% endblock %}

        </div>

        <!-- Footer -->
        <footer class="w-100 position-absolute">
            <div class="d-flex justify-content-between align-items-center p-2">
                <img src="{{asset('images/main/logobullesnbsite.png')}}" alt="les-bulles-logo-nb" class="logo-nb position-absolute">
                <div class="footer-infos">
                    <p class="footer-title pl-4 mb-0">Les Bulles de Liberté</p>
                    <p class="address pl-4 mb-0">10 Cité Fieux, 71100 SAINT-RÉMY</p>
                </div>
                <div class="sitemap d-none d-xl-block">
                    <ul class="d-flex align-items-start">
                        <li><a href="{{ path('main') }}">ACCUEIL</a></li>
                        <li>
                            <div class="d-flex flex-column text-center">
                                <a href="{{ path('future_list') }}" class="py-0">ÉVÉNEMENTS</a>
                                <a href="{{ path('future_list') }}" class="py-0">à venir</a>
                                <a href="{{ path('past_list') }}" class="py-0">passés</a>
                            </div>
                        </li>
                        <li><a href="{{ path('galerie')}}">GALERIE</a></li>
                        <li>
                            <div class="d-flex flex-column text-center">
                                <a href="{{ path('presentation')}}" class="py-0">L'ASSOCIATION</a>
                                <a href="{{ path('presentation')}}" class="py-0">Présentation</a>
                                <a href="{{ path('qui-sommes-nous')}}" class="py-0">Qui sommes-nous</a>
                                <a href="{{ path('coin-presse')}}" class="py-0">Coin Presse</a>
                            </div>
                        </li>
                        <li><a href="{{path('documentation')}}">DOCUMENTATION</a></li>
                        <li><a href="{{ path('contact') }}">CONTACT</a></li>
                        <li><a href="#">MENTIONS LÉGALES</a></li>
                    </ul>
                </div>
                <div class="social-networks d-flex">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </footer>

        {# Inclusion des fichiers JS généraux du site #}
        <script src="{{ asset('js/jquery-3.5.1.slim.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
